<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Venue ID</th><th>Tour ID</th><th>Show ID</th><th>Date</th><th>Start Time</th><th>End Time
          </th><th>Doors Time</th><th>Expected Sales</th><th>Actions</th>
    </tr>
    <tr *ngFor="let s of shows; let i = index">
      <td>
        <p *ngIf="editID != i">{{s.Venue ID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Venue ID"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Tour ID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Tour ID"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Show ID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Show ID"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Date}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Date"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Start Time}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Start Time"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.End Time}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.End Time"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Doors Time}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Doors Time"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{s.Expected Sales}}</p>
        <input *ngIf="editID == i" [(ngModel)]="s.Expected Sales"/>
      </td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(s.showID, i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
