<ul class="app-navbar">
  <li>
    <a class="nav-item" [routerLink]="['acts']" routerLinkActive="active">Acts</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['employee']" routerLinkActive="active">Employee</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['equipment']" routerLinkActive="active">Equipment</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['housing']" routerLinkActive="active">Housing</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['promoter']" routerLinkActive="active">Promoter</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['shows']" routerLinkActive="active">Shows</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['tours']" routerLinkActive="active">Tours</a>
  </li>
  <li>
    <a class="nav-item" [routerLink]="['venue']" routerLinkActive="active">Venue</a>
  </li>
</ul>
