ul {
    text-align: center;
    background-color: #286090;
    list-style-type: none;
    min-height: 50px;
    margin-bottom: 0px;
}

ul li {
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

ul li a {
    color: white !important;
}