<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>First Name</th><th>Middle Initial</th><th>Last Name</th><th>Position</th>
      <th>Phone</th><th>Zip Code</th><th>State</th><th>City</th><th>Street</th><th>Actions</th>
    </tr>
    <tr *ngFor="let e of employees; let i = index">
      <td>
        <p *ngIf="editID != i">{{e.firstName}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.firstName"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.middleInitial}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.middleInitial"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.lastName}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.lastName"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.position}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.position"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.phone}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.phone"/>
      </td>
      <td>
      <td>
        <p *ngIf="editID != i">{{e.zip}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.zip"/>
      </td>
      <td>
      <td>
        <p *ngIf="editID != i">{{e.state}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.state"/>
      </td>
      <td>
      <td>
        <p *ngIf="editID != i">{{e.city}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.city"/>
      </td>
      <td>
      <td>
        <p *ngIf="editID != i">{{e.street}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.street"/>
      </td>
      <td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
