<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Amount Sold</th><th>Amount Given</th><th>Price</th>
    </tr>
    <tr *ngFor="let v of venues; let i = index">
      <td>
        <p *ngIf="editID != i">{{v.amountsold}}</p>
        <input *ngIf="editID == i" [(ngModel)]="v.amountsold"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{v.amountgiven}}</p>
        <input *ngIf="editID == i" [(ngModel)]="v.amountgiven"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{v.price}}</p>
        <input *ngIf="editID == i" [(ngModel)]="v.price"/>
      </td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
