<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Housing ID</th><th>Venue ID</th><th>Capacity</th><th>Price</th><th>Complex</th><th>POC</th>
    </tr>
    <tr *ngFor="let h of housing; let i = index">
      <td>
        <p *ngIf="editID != i">{{h.housingID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.housingID"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{h.venueID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.venueID"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{h.capacity}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.capacity"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{h.price}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.price"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{h.complex}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.complex"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{h.pointOfContact}}</p>
        <input *ngIf="editID == i" [(ngModel)]="h.pointOfContact"/>
      </td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(i, h.housingID)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

