<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Condition</th><th>Type</th><th>Model</th><th>Venue ID</th><th>Actions</th>
    </tr>
    <tr *ngFor="let e of equipment; let i = index" [contextMenu]="basicMenu" [contextMenuSubject]="e">
      <td>
        <p *ngIf="editID != i">{{e.condition}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.condition"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.type}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.type"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.model}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.model"/>
      </td>
      <td>
        <p *ngIf="editID != i">{{e.venueID}}</p>
        <input *ngIf="editID == i" [(ngModel)]="e.venueID"/>
      </td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(i, e.equipmentID)">Delete</button>
      </td>
    </tr>
    <context-menu>
      <ng-template contextMenuItem (execute)="switchContext($event.item.equipmentID)">
        <button class="context-link">View Related Venue</button>
      </ng-template>
    </context-menu>
    <tr *ngIf="editNewEquipment">
      <td>
        <input [(ngModel)]="newEquipment.condition"/>
      </td>
      <td>
        <input [(ngModel)]="newEquipment.type"/>
      </td>
      <td>
        <input [(ngModel)]="newEquipment.model"/>
      </td>
      <td>
        <input [(ngModel)]="newEquipment.venueID"/>
      </td>
      <td>
        <button class="btn btn-success" (click)="createNewEquipment()">Save</button>
        <button class="btn btn-danger" (click)="closeNewEquipmentDialog()">Cancel</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" *ngIf="!editNewEquipment" (click)="openNewEquipmentDialog()">New Equipment</button>

