<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let t of tours; let i = index">
      <td>
        <p *ngIf="editID != i">{{t.title}}</p>
        <input *ngIf="editID == i" [(ngModel)]="t.title"/>
      </td>
      <td>
        <button *ngIf="editID != i" class="btn btn-primary" (click)="edit(i)">Edit</button>
        <button *ngIf="editID == i" class="btn btn-success" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="remove(i, t.tourID)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
